<%-include("./layout/head") %>
<style>
    .btndetails{
        background-color: orange;
    }
    #pagination{
    display: flex;
    justify-content:end;
}
#next a{
    background-color: #e86b11;
    color: black;
}
#prev a{
    background-color: #e86b11;
    color: black;
}
#page-info span{
    color: #f5450d;
    font-weight: bold
}
</style>
</head>
<body>
    <%-include("./partials/navbar") %>
</nav>

<%-include("./partials/sidebar") %>
        </div>
        <div class="container mt-5 col-md-10">
            <div style="display: flex;justify-content: space-between;">
            <h1 class="m-4">orders</h1>
            <div>
            <a href="/returnrequest" style="text-decoration: none; color: black;"><button type="button" class="btn btndetails">Return requests</a>
                <span class="badge badge-success">1</span>
            </div>
            </div>
            <div class="container">
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Customer ID</th>
                            <th>Order Date</th>
                            <th>Payment Method</th>
                            <th>Payment Status</th>
                            <th>Total Amount</th>
                            <th>Status</th>
                            <th>details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0;i<data.length;i++){%>
                        <tr>
                            <td><%=data[i]._id%></td>
                            <td><%=data[i].userid%></td>
                            <td><%=data[i].orderdate%></td>
                            <td><%=data[i].method%></td>
                            <td>Not Paid</td>
                            <td><%=data[i].total_price%></td>
        
                            <td>
                                <%if(data[i].status=="cancelled"){%>
                                    <h5 style="color:red;">cancelled</h5>
                                <%}else if(data[i].status=="return requested"){%>

                                    <h5 style="color:red;">return requested</h5><p style="font-size: 12px;">(check return request inbox for futher details)</p>
                                <%}else if(data[i].status == "Return Rejected"){%>
                                    <p>return rejected</p>
                                <%}else if(data[i].status == "Return Approved"){%>
                                    <p>return approved</p>
                                <%}else if(data[i].status == "product received"){%>
                                    <p>product received(refunded the amount to wallet)</p>
                                <%}else{%>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="statuschg<%=i%>"
                                        <% if (data[i].status === "Shipped") { %>
                                            style="background-color: green; color: white;"
                                        <% } else if (data[i].status === "order placed") { %>
                                            style="background-color: lightblue; color: white;"
                                        <% } else if (data[i].status === "processing") { %>
                                            style="background-color: yellow; color: black;"
                                        <% } else if (data[i].status === "Packed") { %>
                                            style="background-color: darkblue; color: white;"
                                        <% } else if (data[i].status === "Delivered") { %>
                                            style="background-color: black; color: white;"
                                        <% } %>
                                    >
                                        <%=data[i].status%>
                                    </button>
                                    
                                    
                                    <ul class="dropdown-menu">
                                      
                                        <li><button class="dropdown-item bg-warning" type="button" onclick="statuschange('processing','<%=data[i]._id%>','<%=i%>')">processing</button></li>
                                        <li><button class="dropdown-item bg-info" type="button" onclick="statuschange('Packed','<%=data[i]._id%>','<%=i%>')">Packed</button></li>
                                        <li><button class="dropdown-item bg-success" type="button" onclick="statuschange('Shipped','<%=data[i]._id%>','<%=i%>')">Shipped</button></li>
                                        <li><button class="dropdown-item bg-dark text-white" type="button" onclick="statuschange('Delivered','<%=data[i]._id%>','<%=i%>')">Delivered</button></li>
                                    </ul>
                                </div>
                                <%}%>
                            </td>
                            <td>
                                <a href="/adminorderdetails/<%=data[i]._id%>"><button type="button" class="btn btndetails">details</td></a>
                        </tr>
                    <%}%>
                        <!-- Add more order rows here -->
                    </tbody>
                </table>
            </div>
            <div class="container mt-4" id="pagination">
                <div id="pagination-container">
                    <ul class="pagination">
                        <li class="page-item" id="prev">
                            <% if (page > 1) { %>
                                <a class="page-link" href="/adminorders/<%= page - 1 %>">Previous</a>
                            <% } else { %>
                                <span class="page-link">Previous</span>
                            <% } %>
                        </li>
                        <li id="page-info" class="page-item"><span class="page-link">Page <%= page %> of <%= totalPages %></span></li>
                        <li class="page-item" id="next">
                            <% if (page < totalPages) { %>
                                <a class="page-link" href="/adminorders/<%= page + 1 %>">Next</a>
                            <% } else { %>
                                <span class="page-link">Next</span>
                            <% } %>
                        </li>
                    </ul>
                </div>
        </div>

        <script>
            function statuschange(status,id,i){
                console.log("hello1")
                $.ajax({
        method:"POST",
        url: "/orderstatuschange",
        data:{statuschng:status,
            orderid:id
    },
       
        success: function (response) {
            if (response == "data1") {
        const a = document.getElementById("statuschg" + i);
        a.innerHTML = status;

        if (status === 'Shipped') {
            a.style.backgroundColor = 'green';
            a.style.color = 'white';
        } else if (status === 'order placed') {
            a.style.backgroundColor = 'lightblue';
            a.style.color = 'white';
        } else if (status === 'processing') {
            a.style.backgroundColor = 'yellow';
            a.style.color = 'black';
        } else if (status === 'Packed') {
            a.style.backgroundColor = 'darkblue';
            a.style.color = 'white';
        } else if (status === 'Delivered') {
            a.style.backgroundColor = 'black';
            a.style.color = 'white';
        }
    }
}
    })
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/admin/script/navbarandsidebar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>