<%-include("./layout/head") %>
<style>
   #preview{
    width:300px
   }
   #current{
    width:400px
   }
   #current img{
    width: 100%;
   }
   #previous{
    width:400px
   }
   #previous img{
    width: 100%;
   }
</style>
</head>
<body>
      <!-- Navbar -->
   <%-include("./partials/navbar") %>
</nav>

<%-include("./partials/sidebar") %>
</div>
   <!-- mainform -->
   <div class="container mt-4  col-md-9">
    
        <div>
            

                <h1 class="mb-4">Upload Your Banner Image</h1>

                <form action="/submitbanner" method="post" enctype="multipart/form-data" id="imageForm">
                    <div class="form-group">
                        <label for="imageUpload">Choose an image:</label>
                        <input type="file" class="form-control-file" name="imageUpload" id="imageUpload" accept="image/*">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Upload Image">
                    </div>
                </form>

                <div id="preview" >
                    <h2>Preview:</h2>
                    <img id="imagePreview" src="#" alt="Preview" style="max-width: 100%; display: none;">
                </div>

            
        </div>
        <div id="current">
            <h2 >current banner:</h2>
            <img src="/admin/uploads/<%=live?.banner%>">
            </div>
            
            <div id="previous">
                <h2>previous banners:</h2>
                <%if(data.length>0){
                    for(var i=0;i<data.length;i++){%>
                <img src="/admin/uploads/<%=data[i]?.banner%>">
                    <%}%>
                <%}%>
            </div>
</div>

<div class="container-fluid my-2">
      <!-- Footer -->
      <footer
        class="text-center text-lg-start text-white"
        style="background-color: black"
      >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Links -->
          <section class="">
            <!--Grid row-->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Z4</h6>
                <p>
                  Discover a world of premium products, unbeatable deals, and
                  customer satisfaction, all in one place.
                </p>
              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Brands</h6>
                <p>
                  <a class="text-white">Apple</a>
                </p>
                <p>
                  <a class="text-white">Samsung</a>
                </p>
                <p>
                  <a class="text-white">OnePlus</a>
                </p>
                <p>
                  <a class="text-white">Oppo</a>
                </p>
              </div>
              <!-- Grid column -->

              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">
                  Useful links
                </h6>
                <p>
                  <a class="text-white">Your Account</a>
                </p>
                <p>
                  <a class="text-white">Become an Affiliate</a>
                </p>
                <p>
                  <a class="text-white">Shipping Rates</a>
                </p>
                <p>
                  <a class="text-white">Help</a>
                </p>
              </div>

              <!-- Grid column -->
              <hr class="w-100 clearfix d-md-none" />

              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
              </div>
              <!-- Grid column -->
            </div>
            <!--Grid row-->
          </section>
          <!-- Section: Links -->

          <hr class="my-3" />

          <!-- Section: Copyright -->
          <section class="p-3 pt-0">
            <div class="row d-flex align-items-center">
              <!-- Grid column -->
              <div class="col-md-7 col-lg-8 text-center text-md-start">
                <!-- Copyright -->
                <div class="p-3">
                  © 2020 Copyright:
                  <a class="text-white" href="https://mdbootstrap.com/"
                    >MDBootstrap.com</a
                  >
                </div>
                <!-- Copyright -->
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                <!-- Facebook -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-twitter"></i
                ></a>

                <!-- Google -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-google"></i
                ></a>

                <!-- Instagram -->
                <a
                  class="btn btn-outline-light btn-floating m-1"
                  class="text-white"
                  role="button"
                  ><i class="fab fa-instagram"></i
                ></a>
              </div>
              <!-- Grid column -->
            </div>
          </section>
          <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
      </footer>
      <!-- Footer -->
    </div>

   <script>
       document.getElementById('imageUpload').addEventListener('change', function () {
           const preview = document.getElementById('imagePreview');
           const file = document.querySelector('input[type=file]').files[0];
           const reader = new FileReader();

           reader.addEventListener('load', function () {
               preview.src = reader.result;
               preview.style.display = 'block';
           });

           if (file) {
               reader.readAsDataURL(file);
           }
       });

       
   </script>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    
</script>
<script src="/admin/script/navbarandsidebar.js"></script>
</body>
</html>